# Import Pandas

To use the Pandas library, you need to import it into your coding environment. For these exercises, our coding environment is this Jupyter notebook. Pandas is typically imported and named as "pd".

In [109]:
# import the pandas library and use the alias 'pd'
import pandas as pd

# Series

A series is a data type used by Pandas. It is like a one dimensional list, whose elements can be of any data type themselves.
Pandas contains a method, ``.Series()``, that initiates a series object from a Python list, tuple,

In [110]:
#create the s1 series from the list: [10,20,30,40,50]
s1 = [10, 20, 30, 40, 50]
srs = pd.Series(s1)
# additional practice
# create a series called s_tuple from the tuple: ("apple", "banana", "cherry")
s_tuple = ("apple", "banana", "cherry")
tupp = pd.Series(s_tuple)
# create a series called s_dictionary from the dictionary: {"brand": "Ford", "model": "Mustang", "year": 1964}
s_dictionary = {"brand": "Ford", "model": "Mustang", "year": 1964}
s_dict = pd.Series(s_dictionary)

In [111]:
# fill in the blank with the series values and index values
print("The s1 series values are:", pd.Series(s1)) #s1 values#)
srs = pd.Series(s1)
print("The s1 index values are:", srs.index) #s1 index values#)
print("\n")
print("The s_tuple series values are:", pd.Series(s_tuple)) #s_tuple values#)

print("The s_tuple index values are:", tupp.index) #s_tuple index values#)
print("\n")
print("The s_dictionary series values are:", pd.Series(s_dictionary)) #s_dictionary values#)
print("The s_dictionary index values are:", s_dict.index)#s_dictionary index values#)

The s1 series values are: 0    10
1    20
2    30
3    40
4    50
dtype: int64
The s1 index values are: RangeIndex(start=0, stop=5, step=1)


The s_tuple series values are: 0     apple
1    banana
2    cherry
dtype: object
The s_tuple index values are: RangeIndex(start=0, stop=3, step=1)


The s_dictionary series values are: brand       Ford
model    Mustang
year        1964
dtype: object
The s_dictionary index values are: Index(['brand', 'model', 'year'], dtype='object')

Index values in a series are generated by default. We can also define custom indexes at the time of creating series.

Below is a series of marks (grades) and the associated subjects can be defined as custom row indexes.

In [112]:
# create the s2 series from the list [80,93,78,85,97] and with labeled indexes ['English','Science','Social','Tamil','Maths']
series2 = [80,93,78,85,97]
index = ['English','Science','Social','Tamil','Maths']
s2 = pd.Series(series2, index=index)

In [113]:
# print the s2 series
print(pd.Series(s2))

English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

We can provide a name for the whole series, as well as a name for the indexes.

In [114]:
# assign the s2 series name to be "Student Marks"
s2.name = "Student Marks"
# assign the s2 index name to be "Subject"
s2.index.name = "Subject"

In [115]:
# print the s2 series again to see the newly assigned name and index name
print(pd.Series(s2))

Subject
English    80
Science    93
Social     78
Tamil      85
Maths      97
Name: Student Marks, dtype: int64

## Subsetting the Series

Values inside the series can be accessed using the ``[ ]`` square bracket slicing operation

- Series can be sliced using the default index
- Series can also be sliced using string indices (indexes)

In [116]:
# return the first element in the s2 series
print(pd.Series(s2[0]))
print(pd.Series(s2['English']))

0    80
dtype: int64
0    80
dtype: int64

In [117]:
# slicing using default integer index
# return the elements starting at position one and ending with the element at index 3
print(pd.Series(s2[1:3]))
print(pd.Series(s2['Science':'Social']))

Subject
Science    93
Social     78
Name: Student Marks, dtype: int64
Subject
Science    93
Social     78
Name: Student Marks, dtype: int64

In [118]:
# Slicing using string index
# return the element associated with the index 'Tamil'
print(pd.Series(s2['Tamil']))

0    85
dtype: int64

## Creating a Series from a Dictionary

- A Python dictionary is a data structure which maps keys to a set of values.
- A dictionary contains key-value pairs.
- A series is similar to a dictionary in a way that it maps given indexes to a set of values.

Let's see how to create a series from a dictionary

I have a dictionary that represents fruits and prices. Let's create a series from this dictionary

In [119]:
# create a dictionary of fruit names and their prices. Use the values from the article
fruit_names = {
    'strawberries': 5,
    'kiwis': 4,
    'grapes': 3,
    'blueberries': 3,
    'lychee' : 8
    }

In [120]:
# Lets convert this dictionary into a series
# use the pandas method .Series() 
fruit_list = list(fruit_names.keys())
fruit_series = pd.Series(fruit_names, index = fruit_list)
fruit_series.name = 'FRUIT PRICES'
fruit_series.index.name = 'FRUITS'

In [121]:
# print the series
print(fruit_series)

FRUITS
strawberries    5
kiwis           4
grapes          3
blueberries     3
lychee          8
Name: FRUIT PRICES, dtype: int64

In [122]:
# Slice the series and retrieve price of grapes
print(fruit_series['grapes'])

3

# DataFrame

## Create a DataFrame from a Series object

Let's create a DataFrame from the marks series we created in the above step.

In [123]:
# create a dataframe from the s2 series
marks = pd.DataFrame(s2)

In [124]:
# print the dataframe
print(marks)

         Student Marks
Subject
English             80
Science             93
Social              78
Tamil               85
Maths               97

## Create a DataFrame from a Dictionary

Let's say we have 2 series of heights and weights of the same set of persons and we want to put it together in a table.

Here we can create dictionary using both series and create a DataFrame using the Pandas ``.DataFrame()`` method.

In [125]:
# Create height series using [5.3, 6.2,5.8,5.0,5.5] for values, ['Person 1','Person 2','Person 3','Person 4','Person 5'] for indexes
height = [5.3, 6.2,5.8,5.0,5.5]
persons = ['Person 1','Person 2','Person 3','Person 4','Person 5']
height_series = pd.Series(height, name = 'Height', index = persons)

# Create weight series (in kgs) using [65,89,75,60,59] for values and the same indexes as height
weight = [65,89,75,60,59]

weight_series = pd.Series(weight, name = 'Weight (kg)', index = persons)

print(weight_series)
print(height_series)

Person 1    65
Person 2    89
Person 3    75
Person 4    60
Person 5    59
Name: Weight (kg), dtype: int64
Person 1    5.3
Person 2    6.2
Person 3    5.8
Person 4    5.0
Person 5    5.5
Name: Height, dtype: float64

In [126]:
# Create a dataframe from the height and weight series above
df = pd.concat([weight_series, height_series], axis=1)
# print the dataframe
print(df)

          Weight (kg)  Height
Person 1           65     5.3
Person 2           89     6.2
Person 3           75     5.8
Person 4           60     5.0
Person 5           59     5.5